body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-height: 100vh;
  /*background-color: #FEED8F;    */
  /*background-color: rgb(255, 255, 117);*/
  background-color:#fffbac;
}

.header {
  background-color: Pink;
  color: Black;
  padding: 15px;
  /*margin-top: 50px;*/
  /*border-top: 50px;*/
  display: flex;
  justify-content: space-between;
}

.left_head,
.right_head {
  display: flex;
  align-items: center;
  padding: 0px 200px;
}

.left_head {
  font-size: 40px;
  font-weight: bold;
  border: 0px;
  /*padding-left: 140px;*/
  margin: 0px;
}

p, a {
  color: Black;
  font-size: 25px;
  border: 0px;
  margin: 0px;
  padding: 10px 0px;
}

a {
  text-decoration: none;
  color: Black;
  font-weight: bold;
}

.sign_1_up:hover{
  background-color: #FEED9F;
  color: #504C41;
}

a:hover {
  color: White;
}


ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #FEED9F;
    /*border: 9px solid black;*/
    padding: 10px;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    width: 150px; /* Adjust width of each box */
    height: 150px; /* Adjust height of each box */  
    font-family:"quicksand";
    font-size: 5rem; /* Adjust font size of letters */
    font-weight: bold;
}
th {
    /*background-color: #d0a823;*/
    background-color:#fffbac;
    font-weight: bold;
}
td:hover, th:hover {
    /*background-color: #f7d327;*/
  /*background-color:#fffbac;*/
  /*background-color: rgb(37, 150, 248);*/
    background-color: lightblue; /* Change background color on hover */
    color: white; /* Change text color on hover */
    /*background-color: rgb(37, 150, 248);*/
}
.result {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7D327;
  color: Black;
  padding: 30px;
  margin-top: auto;
}

#startButton{
  font-size: 5rem;
  color: rgb(250, 99, 137);
}

.startButton{
  justify-content: center;
  text-align: center;
  padding: 50px;
}
#startButton:hover {
  color: white; /* Change text color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}


