body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-height: 100vh;
  background-color: #FEED8F;
}

.header {
  background-color: #F7D327;
  color: #504C41;
  padding: 15px;
  margin: 0px;
  border: 0px;
  display: flex;
  justify-content: space-between;
}

.left_head,
.right_head {
  display: flex;
  align-items: center;
  padding: 0px 150px;
}

.left_head {
  font-size: 40px;
  font-weight: bold;
  border: 0px;
  padding-left: 140px;
  margin: 0px;
}

p, a {
  color: #504C41;
  font-size: 25px;
  border: 0px;
  margin: 0px;
  padding: 10px 0px;
}

a {
  text-decoration: none;
  color: #504C41;
}

.sign_1_up:hover{
  background-color: #FEED9F;
  color: #504C41;
}

a:hover {
  color: White;
}


ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    min-width: 40px;
}
th {
    background-color: #d0a823;
    font-weight: bold;
}
td:hover, th:hover {
    background-color: #f7d327;
}
.result {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

